*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  width: 400px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.card p{
  margin: 20px 0px;
}